.tiles-list-item {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    grid-auto-rows: minmax(15rem, 25rem);
}

.tiles-list-item img {
    justify-self: stretch;
    align-self: stretch;
    overflow: hidden;

}

.tiles-list-item .tile-details {
    position: absolute;
    padding: 1rem;
}

.tiles-list-item .tile-details .tile-title {
    font-size: 1.4rem;
}

.tiles-list-item .tile-details .tile-price {
    font-size: 1.6rem;
}
