.tiles-list {
    list-style: none;
    display: grid;

    grid-template-rows: minmax(15rem, 25rem);
    align-items: stretch;
    justify-items: stretch;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0;
}

@media (min-width: 1300px) {
    .tiles-list{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1299px) {
    .tiles-list{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 960px) {
    .tiles-list{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .tiles-list{
        grid-template-columns: 1fr;
    }
}

.list-item {
    background-color: blanchedalmond;
    /*width: 100%;*/
    /*height: 100%;*/
    /*justify-self: stretch;*/
    /*align-self: stretch;*/
    min-width: 20rem;




}