.shop-header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    background-color: olivedrab;
    border: 1px solid blanchedalmond;
    border-radius: 0.3rem;
}

.shop-header>*{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(4rem, auto);
    background-color: blanchedalmond;
}

.shop-header .logo{
    justify-self: center;
    align-self: center;
    font-family: "Josefin", Georgia, serif;
    font-size: 2.5rem;
    color: black;
}

.shop-header .contacts{
    justify-self: center;
    align-self: center;
    font-size: 1.3rem;
}

.shop-header .shopping-cart {
    justify-self: end;
    align-self: center;
    font-size: 1.3rem;
    padding-right: 1rem;
    color: black;
}

.shop-header .shopping-cart .cart-icon {
    font-size: 2.2rem;
    color: black;
    margin-right: 0.9rem;
}